{% extends 'blogs/base.html' %}
{% block header %}
<h2>{{ title }}</h2>
{% endblock header %}
{% block content %}	
<p><a href="{% url 'blogs:new_blogpost' title.id %}">add new blogpost</a></p>
	{% for blogpost in blogposts %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				{{blogpost.date_added|date:'M d,Y H:i'}}
				<small>
					<a href="{% url 'blogs:edit_blogpost' blogpost.id%}">edit blogpost</a>
				</small>
			</h3>
		</div>
		<div class="panel-body">
		{{ blogpost.text|linebreaks}}
		</div>
	</div><!--panel-->
	{% empty %}
		这个主题下面一无所有。。。
	{% endfor %}
{% endblock content %}